@import '../../sass/abstract/variables.scss';
@import '../../sass/abstract/mixin.scss';


.dashboard {
    ::-webkit-scrollbar {
        width: 10px;

    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 20px;
        height: 20px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    background-color: $backgroundColor;
    height: 100vh;
    &Sidebar {
        flex-direction: column;
        text-align: center;
        width: $sideBarWidth;
        background-color: $white;
        padding: 20px 48px;
        color: $SecondText;
        font-weight: 600;
        font-size: $fontSizeLarge;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        @include tablet {
            font-size: $fontSizeMedium;
        }
        .logo {
            width: 100%;
        }

        .SidebarItem {
            @include flex();
            margin-top: $spacing;
            cursor: pointer;

            img {
                $width: 30px;
                width: $width;
                height: $width;
                margin-right: 23px;
            }
        }

        .line {
            width: 100%;
            height: 4px;
            background-color: #9B9797;
            margin-top: 160px;
        }
        .menuItem {
            margin-top: $spacing;
            cursor: pointer;
        }

        .draft {
            padding: 25px 42px;
            background-color: #F6FAFF;
            border-radius: $borderRadius;
            color: black;
            margin-top: $spacing;

            img {
                $width: 5rem;
                width: $width;
                height: $width;
                margin-bottom: 2.5rem;
            }
            p {
                margin-top: 1.6rem;
                font-size: 20px;
                color: #9B9797;
                @include tablet {
                    font-size: $fontSizeNormal;
                }
            }
            button {
                cursor: pointer;
                margin-top: 36px;
                border: none;
                background-color: $white;
                font-size: 18px;
                font-weight: 500;
                padding: 10px 40px;
                border-radius: $borderRadiusButton;
            }
        }
    }
}