$lightgray: #F7FBFE;
$white: #ffffff;
$green: #55A784;
$blue: #2295FF;
$skinColor: #FFF1DC;
$SecondText: #A1B4DE;

$backgroundColor: $lightgray;


$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 362px;
$spacing: 62px;
$mobileSpacing: 40px;
$tablet-width: 1024px;
$mobile-width: 600px;

$borderRadius: 20px;
$borderRadiusButton: 8px;