$lightgray: #F7FBFE;
$white: #ffffff;
$green: #55A784;
$blue: #2295FF;
$skinColor: #FFF1DC;
$SecondText: #A1B4DE;

$backgroundColor: $lightgray;
$backgroundColorSecond: #F6FAFF;

$fontSizeXs: 0.75rem;
$fontSizeSm: 1rem;
$fontSizeLg: 1.15rem;
$fontSizeXl: 1.5625rem;

$sideBarWidth: 362px;
$sideBarWidthTablet: 300px;
$spacing: 1.5rem;
$mobileSpacing: 40px;
$tablet-width: 1400px;
$mobile-width: 600px;

$borderRadius: 20px;
$borderRadiusButton: 8px;